.container{
    display: flex;
    height: 100vh;
}
.container .left-signin{
    position: absolute;
    width: 45%;
    left: -100%;
}

.container .right-signin{
    position: absolute;
    left:-100%;
}

/* left side of sign up page  */

.left{
    top:100px;
    width: 45%;
    margin: 10px;
    text-align: center;
}

.left-signup h1{
    width:100%;
    color: #9f1dd7;
    letter-spacing: 10px;
    padding: 6px;
}
.left-signup h3{
    color: #9008ca;
    margin-top: 10px;
}
.image{
    height: 68vh;
    margin: 20px 0px;
}

.image>img{
    width: 85%;
    height: 100%;
    border-bottom: 2px solid darkslateblue;
}

.container .left-signin{
    position: absolute;
    width: 45%;
    left: -100%;
}

/* RIGHT SIDE OF SIGN UP PAGE */

.right{
    width: 55%;
    position: relative;
    max-height: 110vh;
    overflow: hidden;
}
.right::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg,#4e00ab,#4e00ab);
    border-radius: 50% 0 0 50%;
    transform: scaleY(1.1);
    z-index: -1;
}

.right-signup{
    width: 100%;
    height: 100%;
}
.right-signup h1{
    margin: 20px 64px 20px auto;
    width: 58%;
    letter-spacing: 6px;
    font-size: 23px;
    color: #fff;
    text-align: center;
}

.form-panel{
    position: absolute;
    right: 60px;
    height: 80%;
    width: 60%;
    background-color: #fff;
    margin-top: 8px;
    border-radius: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    height: 100%;
    justify-content: space-around;
}
.form input{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid indigo;
    outline: none;
    padding-bottom: 5px;
}


.btn {
    background-color: transparent;
    color: indigo;
    padding: 3px 20px;
    border: 3px solid indigo;
    width: 45%;
    margin: 0 auto;
    border-radius: 17px;
    font-size: 18px;
    cursor: pointer;
}

.icons{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.fa-facebook-f{
    color: #4267B2;
}

.fa-twitter{
    color: #39A0F4;
}


.icon{
    margin: 0 10px 0 10px;
    border-bottom: 10px solid aliceblue;
    border-radius: 48%;
    padding: 15px;
    background-color: #fff;
    cursor: pointer;
}

.form p{
    text-align: center;
    cursor: pointer;
}

.form h3{
    text-align: center;
    font-weight: revert;
    text-decoration: underline;
    font-size: 20px;
    cursor: pointer;
    color: #9f1dd7;
}


h4{
    width: 100%;
    border-bottom: 1px solid rgb(36, 34, 34);
    margin: 10px 0 20px 0;
    line-height: .1rem;
    text-align: center;
}

.form span{
    background-color:#fff;
    padding: 10px;
}

/*LEFT SIDE SIGN IN PAGE */

.onclick .left-signup{
    position: absolute;
    left:-150%;
}

.onclick .right-signup{
    position: absolute;
    right:-150%;
}

.onclick .left-signin{
    left:0;
}

.onclick .right-signin{
    left: 0;
}
.onclick .left{
    margin: 0;
    background-color: rgb(247 247 247);
}

.onclick .image{
    height: 90vh;
    margin: 35px 0 0 0;
}

.onclick .image>img{
    width: 100%;
    border: none;
}
.left-signin h1{
    width: 60%;
    margin: 40px auto 0 auto;
    color: #7b0aab;
}

.onclick .left-heading{
    position: absolute;
    top: -13px;
    left: 30px;
    font-size: 43px;
    width: 40%;
}

/* RIGHT SIDE OF LOGIN PAGE */

.right-signin{
    width: 100%;
    height: 100%;
}

.right-signin h1{
    margin: 20px 64px 20px auto;
    width: 58%;
    letter-spacing: 6px;
    font-size: 23px;
    color: #fff;
    text-align: center;
}

.form h5{
    color: indigo;
    font-size: 17px;
    cursor: pointer;
}

@media screen and (max-width:950px){
    .left-signup h1 {
        width: 100%;
        color: #9f1dd7;
        letter-spacing: 4px;
        padding: 4px;
    }
}

@media screen and (max-width:800px){
.container{
    flex-direction: column;
    height: auto;
}

.left{
    width: 100%;
    margin: 10px 0;
}
.right{
    width: 100%;
    min-height: 900px;
}

.right::before{
    border-radius: 50% 50% 0 0;
    transform: scaleX(1.3);
}

/* signup top-part  */
.left-signup h1{
    font-size: 52px;
}

.image{
    margin: 40px 0 20px;
    height: 400px;
}

.image img{
    width:65%
}

.left-signup h3{
    font-size: 30px;
    margin-bottom: 30px;
}


/* signup form */

.right-signup h1{
    width: 100%;
    margin: 68px 0 30px;
    font-size: 30px;
}

.form-panel{
    right: 15%;
    width: 70%;
}

.form input{
    font-size: 30px;
}
.btn{
    padding: 6px 20px;
    font-size: 22px;
}

.form span{
    font-size: 23px;
}

.icon{
    padding: 20px;
}

.form p{
    font-size: 25px;
}

.form h3{
    font-size: 30PX;
}

/* signin top  */
.onclick .left{
    height: 688px;
}

.onclick .left-signin{
    width: 100%;
}

.onclick .left-heading{
    position: relative;
    left: 0;
    width: 100%;
    font-size: 55px;
}

.onclick .image img{
    height: 500px;
    width: 65%;
}

.right-signin h1{
    width: 100%;
    margin: 60px 0 30px;
    font-size: 30px;
}


.form h5 {
    font-size: 25px;
}



}




